{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 order-2 order-lg-1 border-cactus">
                <h2>Menu</h2>
                {{ include('partials/_side_menu_profile.html.twig') }}
            </div>

            <div class="col-12 col-lg-8 px-5 order-1 order-lg-2">

                <div class="">
                <h1>Profil</h1>
                {{ include('partials/_profile_card.html.twig') }}
                </div>

                <div class="d-flex p-4">
                    <h5>Badges:</h5>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
