<footer class="py-3 d-none d-lg-block" style="background-color: var(--beige-transparent)">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link px-2 text-body-secondary">Recherche</a></li>
        <li class="nav-item"><a href="" class="nav-link px-2 text-body-secondary">Profil</a></li>
        <li class="nav-item"><a href="" class="nav-link px-2 text-body-secondary">Aide</a></li>
        <li class="nav-item"><a href="" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2026 Cactus, Inc</p>
</footer>

<footer class="d-lg-none sticky-bottom py-3" style="background-color: var(--quaternary-color)">
    <button>Home</button>
    <button>Search</button>
    <button>Profile</button>
</footer>
