{% extends 'base.html.twig' %}

{% block title %} Page Home {% endblock %}

{% block body %}

<a href="{{ path('app_register') }}">Create new</a>
    <a href="{{ path('app_login') }}">Login</a>

{% endblock %}
